{
    "security": {
        "token": "TOKEN_HERE",
        "ownerIDs": []
    },
    "debug": {
        "syncCommandsDebug": false,
        "testGuilds": [],
        "error_log_channel": 0
    },
    "database": {
        "path": "database/database.sqlite"
    }
}